$primary: #FE414D;
$secondary: hsla(0, 0%, 0%, 1);
$tertiary: #419FFE;

$radius: 2px;
$shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);

%body-shared {
  max-width: 1024px;
  border-top: solid 10px $primary;
  box-shadow: $shadow;
  border-radius: $radius;
  margin: -50px auto 50px;
  background-color: #F2F2F2;
  padding-bottom: 10px;
}
